<div class="navigation-page">
    {{> PageTitle title="Навигация по страницам"  }}
    {{> Link page="login" text="Логин" url='login'}}
    {{> Link page="signin" text="Регистрация" url='login'}}
    {{> Link page="chat" text="Чат" url='login'}}
    {{> Link page="profile" text="Профиль" url='profile'}}
</div>
