<div class="navigation-page">
    {{> PageTitle title="Навигация по страницам" }}
    {{> Link page="login" text="Логин"}}
    {{> Link page="signin" text="Регистрация"}}
    {{> Link page="chat" text="Чат"}}
</div>
