<div class="navigation-page">
    {{> PageTitle title="Навигация по страницам"  }}
    {{> Link page="login" text="Логин" url='login'}}
    {{> Link page="signin" text="Регистрация" url='login'}}
    {{> Link page="chat" text="Чат" url='login'}}
    {{> Link page="profile" text="Профиль" url='profile'}}
    {{> Link page="editProfile" text="Изменить профиль" url='editProfile'}}
    {{> Link page="changePassword"  text="Изменить пароль" url='changePassword'}}
    {{> Link page="404"  text="404" url='404'}}
    {{> Link page="500"  text="500" url='500'}}
</div>
