<section class="content">
  {{#with (profile)}}
  {{> ProfileAvatar src=avatar alt="Логин"}}
  <h2>{{firstName}}</h2>
  {{/with}}
  {{#with (profile)}}
  <ul class="list">
    {{>ProfileInput inputName='Почта' type="text" value=email name=email disabled='true'}}
    {{>ProfileInput inputName='Логин' type="text" value=login name=login disabled='true'}}
    {{>ProfileInput inputName='Имя' type="text" value=firstName name=firstName disabled='true'}}
    {{>ProfileInput inputName='Фамилия' type="text" value=lastName name=lastName disabled='true'}}
    {{>ProfileInput inputName='Имя в чате' type="text" value=visibleName name=visibleName disabled='true'}}
    {{>ProfileInput inputName='Телефон' type="text" value=phone name=phone disabled='true'}}
  </ul>
  {{/with}}

  <div class="buttons">
    {{> Link page="editProfile" text="Изменить данные" className='link__align'}}
    {{> Link page="changePassword" text="Изменить пароль" className='link__align'}}
    {{> Link page="login" text="Выйти" className='link__align link__secondary'}}

  </div>
</section>