{{#> Dialog }}
  <form class="login-page">
    <div class="login-page__content">
      {{> PageTitle title="Регистрация" }}
      {{> InputField className="login-page__input" title="Почта" name="email" }}
      {{> InputField className="login-page__input" title="Логин" name="login" }}
      {{> InputField className="login-page__input" title="Имя" name="first_name" }}
      {{> InputField className="login-page__input" title="Фамилия" name="last_name" }}
      {{> InputField className="login-page__input" title="Телефон" name="phone_number" }}
      {{> InputField className="login-page__input" title="Пароль" name="password" type="password" }}
      {{> InputField className="login-page__input" title="Пароль еще раз" name="password_repeat" type="password" }}
    </div>
    <div class="login-page__footer">
      {{> Button text="Зарегистрироваться" page="chat" className="button_primary"}}
       {{> Button text="Войти" page="login" className="button_secondary"}}
    </div>
  </form>
{{/ Dialog }}
