@import 'assets/variables';
.login-page {
  width: 280px;
  min-height: 550px;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

.dialog-wrapper {
  background: $dialog-bgcolor;
  box-shadow: $dialog-shadow;
  border-radius: 12px;
  padding: 30px;
  margin: 120px auto 0;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
