<section class="content">
  {{#with (profile)}}
  {{> ProfileAvatar src=avatar alt="Логин"}}
  <h2>{{firstName}}</h2>
  {{/with}}
  {{#with (profile)}}
  <ul class="list">
    {{>ProfileInput inputName='Старый пароль' type="password"  name=oldPassword }}
    {{>ProfileInput inputName='Новый пароль' type="password"  name=newPassword }}
    {{>ProfileInput inputName='Повторите новый пароль' type="password"  name=new_password_repeat }}
  </ul>
  {{/with}}
  {{> Button text="Сохранить" page="profile" className="button_primary button_primary_size_small "}}

</section>