

  <div class="chat-page__sidebar">
   {{{ProfileLink}}}
    {{{SearchInput}}}
   {{!--   {{#> ChatList className="chat-page__list" }}
    {{#each (chat-page-list)}}
    {{> ChatItem }}
    {{/each}}
    {{/ ChatList }}--}}

  </div>


  {{!-- TODO удалить --}}
  {{{ReturnLink}}} 
