@import '../../assets/variables';

.chat-page {
  height: 100%;
  width: 100%;
  display: flex;

  &__list {
    border-right: 1px solid $divider-line-color;
  }
}

.chat-page__sidebar {
  max-width: 310px;
  color: #999999;
  background-color: #FBFBFB;
  height: 100vh;
  border-right: 1px solid  #EAEAEA;

}

.chat-page__list {
  width: 100%;
}