<div class="chat-page">

  <div class="chat-page__sidebar">
    {{> Link page="profile" text="Профиль >" url='profile' className="link__align-right link__sidebar"}}
    {{> SearchInput page="chat" placeholder="Поиск" className=""}}
    {{#> ChatList className="chat-page__list" }}
    {{#each (chat-page-list)}}
    {{> ChatItem }}
    {{/each}}
    {{/ ChatList }}

  </div>


  {{!-- TODO удалить --}}
  {{> Link page="login" text="Назад к логину"}}
</div>